.expense-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 1rem 0 2rem;
    background-color: rgb(25, 87, 255);
}

.expense-item h2 {
    font-size: 1rem;
    margin: 0 1rem;
    color: white;
}

.expense-item__price {
    min-width: 8rem;
    padding: 0.5rem;
    border-radius: 12px;
    border: 1px solid white;
    font-size: 1rem;
    font-weight: bold;
    color: #61DAFB;
    text-align: center;
    background-color: #1f1f1f;
}

@media (min-width: 580px) {
    .expense-item__description {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
    .expense-item__price {
        padding: 0.5rem 1.5rem;
    }
}